@media (min-width: 1200px) {
    .bio .right .box .img-fluid {
        position: relative;
        top: -32px;
        left: 0px;
    }
}

@media (max-width: 1199.98px) {
    .bio .left .media {
        padding: 50px 30px 50px 0px;
    }

    .bio .right .box::after {
        bottom: -99px;
        right: -15px;
        width: 144%;
        height: 157.4%;
    }

    .welcomeArea {
        padding: 171px 0px 207px;
    }

    .specilizing {
        padding: 220px 0px 130px;
    }

    .img.parallax1 {
        display: none;
    }

    .wprocess .box {
        margin-bottom: 30px;
    }

    .wprocess {
        padding: 122px 0px 99px;
    }

    .wprocess .sectionTitle {
        margin-bottom: 61px;
    }

    .footer .footerLink li a {
        margin-right: 20px;
    }

    .bio .right .box::before {
        position: absolute;
        top: -53px;
        left: -78px;
    }

}

@media (max-width: 991.98px) {
    header.header {
        background: #fff;
    }

    .navbar-nav {
        padding-top: 13px;
        padding-left: 30px;
    }

    .dSmNone {
        display: none !important
    }

    .welcomeArea {
        padding: 220px 0px 130px;
    }

    .bio .right .box::after {
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .bio .right .box::before {
        display: none;
    }

    .bio {
        padding: 130px 0px 122px;
        background: #fdfafd;
    }

    .bio .right {
        text-align: center;
    }

    .bio .right .box {
        padding: 0px 0px 0px 0px;
        display: inline-block;
    }

    .bio .left .media {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        position: inherit;
        padding: 76px 0px 0px 0px;
    }

    .skill_loader {
        margin-top: 70px;
    }

    h2 {
        font-size: 36px;
    }

    .review .box {
        margin-bottom: 30px;
    }

    .review {
        padding: 123px 0px 100px;
    }

    .footer .fsocialLinks {
        padding-top: 55px;
    }

    .footer {
        padding: 58px 0px 82px;
    }

    .skill {
        padding: 127px 0px 130px;
    }

    #mainHeader.header .nav-link {
        display: inline-block;
    }

    #mainHeader.header .nav-link::before {
        top: 46%;
    }

    .specilizing .box {
        margin-bottom: 30px;
    }

    .specilizing {
        padding: 122px 0px 100px;
    }

    .footer .footerLink ul {
        text-align: center;
    }


}

@media (max-width: 767.98px) {
    .bio .left .media {
        display: flow-root;
    }

    .bio .left .media .title h2 {
        margin-bottom: 48px;
    }

    .bio .left .media .title h2::before {
        left: 0px;
        top: 67px;
    }

    .specilizing .sectionTitle .media {
        display: flow-root;
    }

    .specilizing .sectionTitle .media h2 {
        margin-bottom: 48px;
    }

    .specilizing .sectionTitle .media h2::before {
        left: 0px !important;
        top: 67px;
    }

    .gallery .sectionTitle .media {
        display: flow-root;
    }

    .gallery .sectionTitle .media h2 {
        margin-bottom: 48px;
    }

    .gallery .sectionTitle .media h2::before {
        left: 0px !important;
        top: 67px;
    }

    .wprocess .sectionTitle .media {
        display: flow-root;
    }

    .wprocess .sectionTitle .media h2 {
        margin-bottom: 48px;
    }

    .wprocess .sectionTitle .media h2::before {
        left: 0px !important;
        top: 67px;
    }

    .review .sectionTitle .media {
        display: flow-root;
    }

    .review .sectionTitle .media h2 {
        margin-bottom: 48px;
    }

    .review .sectionTitle .media h2::before {
        left: 0px !important;
        top: 67px;
    }

    .contact .sectionTitle .media {
        display: flow-root;
    }

    .contact .sectionTitle .media h2 {
        margin-bottom: 48px;
    }

    .contact .sectionTitle .media h2::before {
        left: 0px !important;
        top: 67px;
    }

    .contact form button {
        margin-top: 15px;
    }

    .footer .footerLink li a {
        margin-bottom: 10px;
        display: inline-block;
    }

    .footer .fsocialLinks {
        padding-top: 44px;
    }

    .skill .box {
        margin-bottom: 30px;
    }

    .skill {
        padding: 127px 0px 100px;
    }

}


@media (max-width: 575.98px) {
    .bio .right .box {
        width: 100%;
    }

    .bio .right .box img {
        width: 100%;
    }

    .bio .left .media {
        padding: 27px 0px 0px 0px;
    }

    #mainHeader .navbar-brand {
        padding-left: 15px;
    }

    .welcomeArea .links a,
    .skill .links a {
        width: 115px;
        height: 50px;
        line-height: 50px;
    }
    .welcomeArea .links a p,
    .skill .links a p{
        font-size: 14px;
    }

    .welcomeArea .links a::after,
    .skill .links a::after {
        width: 111px;
        height: 46px;
    }

    .specilizing .box h3 {
        margin-top: 8px;
    }

    .specilizing .box span {
        font-size: 50px;
    }

    .skill .box {
        background: #fdfafd00;
        padding: 0px 15px 0px;
    }

    .skill .box .innerbox {
        background: #fbf8fc;
        padding: 50px 0px 50px;
    }

    .skill .box .innerbox:hover {
        background: #fff;
    }

}


@media (max-width: 450px) {
    .review .box .media {
        display: flow-root;
    }

    .review .box .media img {
        margin-bottom: 27px;
    }

    h1 {
        font-size: 34px;
    }

    .welcomeArea h1 span {
        font-size: 20px;
    }

    h2 {
        font-size: 28px;
    }

    .bio .left .media .title h2::before {
        top: 59px;
    }

    .bio .left .media .title h2 {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .specilizing .sectionTitle .media h2 {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .specilizing .sectionTitle .media h2::before {
        top: 59px;
    }

    .skill .sectionTitle .media h2 {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .skill .sectionTitle .media h2::before {
        top: 59px;
    }

    .gallery .sectionTitle .media h2 {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .gallery .sectionTitle .media h2::before {
        top: 59px;
        margin-right: 0px;
    }

    .wprocess .sectionTitle .media h2 {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .wprocess .sectionTitle .media h2::before {
        top: 59px;
    }

    .review .sectionTitle .media h2 {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .review .sectionTitle .media h2::before {
        top: 59px;
    }

    .contact .sectionTitle .media h2 {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .contact .sectionTitle .media h2::before {
        top: 59px;
    }

    .specilizing .box span {
        font-size: 50px;
    }

    #mainHeader .navbar-brand {
        padding-left: 15px;
    }

    .gallery .photo-gallery-manu-wrppaer ul li {
        font-size: 18px;
    }

    h3 {
        font-size: 20px;
    }
}


@media (max-width:414px) {
    .grid-size {
        width: 100% !important;
    }

    .grid-size img {
        width: 100% !important;
    }
    .specilizing .box span {
        font-size: 40px;
    }
    .specilizing .box h3 {
        margin-top: 11px;
    }
    .contact form button {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
    }
}

@media (max-width: 338px) {
    .bio .left .media-body .content h4 {
        font-size: 14px;
    }
    .specilizing .box span {
        font-size: 35px;
    }

}

@media (max-width: 359px) {
    .review .box {
        padding: 50px 30px 50px;
    }
}

@media (max-width: 417px) {
    .gallery .photo-gallery-manu-wrppaer ul li {
        margin-bottom: 7px;
    }

    .gallery .photo-gallery-manu-wrppaer {
        margin-bottom: 40px;
    }
}

@media (max-width: 341px) {

    .bio .left .media-body .content h4,
    .specilizing .sectionTitle .media-body p,
    .skill .sectionTitle .tagline,
    .gallery .sectionTitle .media-body p,
    .wprocess .sectionTitle .media-body p,
    .review .sectionTitle .media-body p,
    .contact .sectionTitle .media-body p {
        font-size: 14px;
    }

    .review .box .hrader .content p {
        font-size: 14px;
    }

}

@media (max-width: 359px) {
    .possitionRelative .col-6 {
        flex: 100%;
        max-width: 100%;
    }
}